<h1>Admin Dashboard</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to 'Products', products_index_path %></td>
      <td><%= @product_count %></td>
    </tr>
    <tr>
      <td><%= link_to 'Categories', categories_path %></td>
      <td><%= @category_count %></td>
    </tr>
  </tbody>
</table>