<h1>Welcome to the Jungle</h1>
<p>We got everything you want honey, we know the names
We are the people that can find whatever you may need
If you got the money, honey we got your disease
</p>
<p>Welcome to the jungle, we take it day by day
If you want it you're going to bleed, but it's the price you pay
And you're a very sexy girl, it's very hard to please
You can taste the bright lights, but you won't get there for free</p>

<p>Welcome to the jungle, it gets worse here everyday
You learn to live like an animal in the jungle where we play
If you got a hunger for what you see, you'll take it eventually
You can have anything you want, but you better not take it from me</p>